<section class="ourTeam">
        
    </section>
    <div class="shaddow"></div>
    
    <section class="teamContent">
        <div class="container">
            <h2>MEET THE MANAGEMENT</h2>
            <div>
                <img src="img/person1.jpg" alt="CEO Team">
                <h3>John Dow</h3>
                <h4>Chief Executive Officer / CEO</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis numquasa mode tempora posuere feugiat.</p>
                <span><i class="fa fa-phone"></i>1-800-123-4567 - Extension 114</span>
                <span><i class="fa fa-mobile"></i>1-902-361-7714</span>
                <span><i class="fa fa-envelope-o"></i><a href="#">cameronzigzal.com@gmail.com</a></span>
            </div>
            <div>
                <img src="img/hadi.jpg" alt="CEO Team">
                <h3>Hadi Janbaz</h3>
                <h4>Chief Financial Officer / CFO</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis numquasa mode tempora posuere feugiat.</p>
                <span><i class="fa fa-phone"></i>1-800-123-4567 - Extension 114</span>
                <span><i class="fa fa-mobile"></i>1-902-361-7714</span>
                <span><i class="fa fa-envelope-o"></i><a href="#">raha.optic.co@gmail.com</a></span>
            </div>
            <div>
                <img src="img/team3-lrg.jpg" alt="CEO Team">
                <h3>Arash Taherian</h3>
                <h4>Chief Executive Officer / CEO</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis numquasa mode tempora posuere feugiat.</p>
                <span><i class="fa fa-phone"></i>1-800-123-4567 - Extension 114</span>
                <span><i class="fa fa-mobile"></i>1-902-361-7714</span>
                <span><i class="fa fa-envelope-o"></i><a href="#">arash_taherian@gmail.com</a></span>
            </div>
            
        </div>
    </section>
    <section class="teamContent sales">
        <div class="container">
            <h2>MEET OUR SALES TEAM</h2>
            <div>
                <img src="img/team4.jpg" alt="CEO Team">
                <h3>Luca Sanderson</h3>
                <h4>Sales Representative</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis numquasa mode tempora posuere feugiat.</p>
                <span><i class="fa fa-phone"></i>1-800-123-4567 - Extension 114</span>
                <span><i class="fa fa-mobile"></i>1-902-361-7714</span>
                <span><i class="fa fa-envelope-o"></i><a href="#">cameronzigzal.com@gmail.com</a></span>
            </div>
            <div>
                <img src="img/team5.jpg" alt="CEO Team">
                <h3>Abby Myers</h3>
                <h4>Sales Representative</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis numquasa mode tempora posuere feugiat.</p>
                <span><i class="fa fa-phone"></i>1-800-123-4567 - Extension 114</span>
                <span><i class="fa fa-mobile"></i>1-902-361-7714</span>
                <span><i class="fa fa-envelope-o"></i><a href="#">raha.optic.co@gmail.com</a></span>
            </div>
            <div>
                <img src="img/team6.jpg" alt="CEO Team">
                <h3>Connor Wyatt</h3>
                <h4>Sales Representative</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis numquasa mode tempora posuere feugiat.</p>
                <span><i class="fa fa-phone"></i>1-800-123-4567 - Extension 114</span>
                <span><i class="fa fa-mobile"></i>1-902-361-7714</span>
                <span><i class="fa fa-envelope-o"></i><a href="#">arash_taherian@gmail.com</a></span>
            </div>
            <div>
                <img src="img/team7.jpg" alt="CEO Team">
                <h3>Sarah Thomas</h3>
                <h4>Sales Representative</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis numquasa mode tempora posuere feugiat.</p>
                <span><i class="fa fa-phone"></i>1-800-123-4567 - Extension 114</span>
                <span><i class="fa fa-mobile"></i>1-902-361-7714</span>
                <span><i class="fa fa-envelope-o"></i><a href="#">arash_taherian@gmail.com</a></span>
            </div>
            
        </div>
    </section>
    <section class="teamContent bottom">
        <div class="backImg"></div>
    </section>