<footer class="number">
      <div class="container">
       <h1>Parsa Ghorbanian</h1>
        <div class="logo">
            <a href="#">
                <span>Automative</span>
                <span>Project</span>
            </a>
        </div>
        <p>Copyright © 2019 <strong>Hadi Janbaz</strong>.  All rights reserved.</p>
          
      </div>
</footer>