<!--   header starts-->
    <header>
        <section>
            <div class="container top">
                <div class="mLeft">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> Login</a></li>
                        <li><a href="#"><i class="fa fa-globe"></i> Languages</a></li>
                        <li class="searchLi">
                            <input type="search" placeholder="SEARCH" class="search">
                            <i class="fa fa-search"></i>
                        </li>
                    </ul>
                </div>
                <div class="mRight">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-map-marker"></i> 107 Sunset Blvd., Beverly Hills, CA 90210
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-phone"></i> 1-800-567-0123
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container_shadow"></div>
        </section>
        <div class="bottom_h">
            <div class="container">
                <nav>
                    <div class="logo">
                        <a href="#">
                            <span>Automative</span>
                            <span>Project</span>
                        </a>

                    </div>
                    <ul class="navUL">
                        <li><a href="#" class="active">home</a></li>
                        <li>
                            <a href="#">pages</a>
                            <ul class="submenu">
                                <li>Alternate Footers</li>
                                <li>404</li>
                                <li>About US</li>
                                <li>FAQ</li>
                                <li>Full Width Page</li>
                                <li>Sidebar Page</li>
                                <li>Pricing Table</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">inventory</a>
                            <ul class="submenu">
                                <li>Select View Demo</li>
                                <li>Boxed Layout</li>
                                <li>Wide Layout</li>
                                <li>Indivisual Listing</li>
                                <li>Vehicle Comparison</li>
                            </ul>
                        </li>
                        <li><a href="#">services</a></li>
                        <li><a href="#">our team</a></li>
                        <li>
                            <a href="#">portfolio</a>
                            <ul class="submenu">
                                <li>2 Coloumn Protfolio</li>
                                <li>3 Coloumn Protfolio</li>
                                <li>4 Coloumn Protfolio</li>
                                <li>Single Project Split</li>
                                <li>Single Project Wide</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">blog</a>
                            <ul class="submenu">
                                <li>Blog List</li>
                                <li>Blog Single Post</li>
                            </ul>
                        </li>
                        <li><a href="#">contact</a></li>
                    </ul>

                </nav>
            </div>
        </div>
    </header>
    <div class="upArrow"><a href="#"></a></div>