<!--    Banner Slider-->
    <section class="banner">
            <div class="slider">
               <div class="slide">
                  <ul class="ulSlider">
                      <li class="active" style="background-image: url('img/slide-show1.jpg');">
                          <h2>DOMINATE</h2>
                          <h2>THE INTERNET</h2>
                          <h2>Attract, Engage, & Convert</h2>
                          <h2>more</h2>
                      </li>
                      <li style="background-image: url('img/slide-show2.jpg');">
                          <h2>Time to invest in a website built to</h2>
                          <h2>MOVE</h2>
                          <h2>YOUR</h2>
                          <h2>INVENTORY</h2>
                          <h2>FASTER</h2>
                          <h2><img src="img/brown_line.jpg" style="width: 512px; height: 2px;"></h2>
                      </li>
                      <li style="background-image: url('img/slide-show3.jpg');">
                          <h2>WOW Factor ?</h2>
                          <h2>STANDARD.</h2>
                      </li>
                      <li style="background-image: url('img/slide-show4.jpg');">
                          <h2>UNLOCK</h2>
                          <h2>THE POTENTIAL</h2>
                          <h2>business from your</h2>
                          <h2>website</h2>
                      </li>
                      <li style="background-image: url('img/slide-show5.jpg');">
                          <h2>REALITY</h2>
                          <h2>IS JUST</h2>
                          <h2>your perception</h2>
                      </li>
                  </ul>
                  
                  <div class="leftArrow"></div>
                  <div class="rightArrow"></div>
               </div>                
            </div>
    </section>
    
<!--    Ads after slider-->
    <section class="wrap">
        <div class="container">
            <h2>
                Discover a website for car dealers that converts visitors to <span class="redFont">customers</span>
            </h2>
            <a href="#">Schedule a Test Drive</a>
        </div>
    </section>
    <div class="container">
        <section class="message_shadow"></section>
    </div>
    
<!--    Content   -->
   <section class="content">
      
<!--      car     -->
      <div class="row">
          <div class="container">
              <div>
                  <div class="car">
                      <div>
                          <img src="img/car1.jpg" alt="">
                      </div>
                      <div>
                          <div class="backDiv">Race Ready</div>
                          <a href="#"><i class="fa fa-link button_icon"></i></a>
                          <a href="#"><i class="fa fa-arrows-alt button_icon"></i></a>
                      </div>
                  </div>
                  <h4><a href="#">FACTORY READY FOR TRACK DAY</a></h4>
                  <p>Sea veniam lucilius neglegentur ad, an per sumo volum voluptatibus. Qui cu everti repudiare. Eam ut cibo nobis aperiam, elit qualisque at cum. Possit antiopam id est. Illud delicata ea mel, sed novum mucius id. Nullam qua.</p>
              </div>
              <div>
                  <div class="car">
                      <div>
                          <img src="img/car2.jpg" alt="">
                      </div>
                      <div>
                          <div class="backDiv">Family Oriented</div>
                          <a href="#"><i class="fa fa-link button_icon"></i></a>
                          <a href="#"><i class="fa fa-arrows-alt button_icon"></i></a>
                      </div>
                  </div>
                  <h4><a href="#">A SPORT UTILITY FOR THE FAMILY</a></h4>
                  <p>Cum ut tractatos imperdiet, no tamquam facilisi qui. Eum tibique consectetuer in, an legimus referrentur vis, vocent deseruisse ex mel. Sed te idque graecis. Vel ne libris dolores, in mel graece dolorum. Ea augue ponderum.</p>
              </div>
              <div>
                  <div class="car">
                      <div>
                          <img src="img/car3.jpg" alt="">
                      </div>
                      <div>
                          <div class="backDiv">World Class</div>
                          <a href="#"><i class="fa fa-link button_icon"></i></a>
                          <a href="#"><i class="fa fa-arrows-alt button_icon"></i></a>
                      </div>
                  </div>
                  <h4><a href="#">MAKE AN EXECUTIVE STATEMENT</a></h4>
                  <p>Te inermis cotidieque cum, sed ea utroque atomorum sadipscing. Qui id oratio everti scaevola, vim ea augue ponderum vituperatoribus, quo adhuc abhorreant omittantur ad. Perpetua consequat, et nis.</p>
              </div>
           
       </div>
      </div>
<!--      over    -->
      <div class="overImg"></div>
      <div class="over">
           <div class="row">
               <div class="container">
                  <div>
                     <div>
                         <span><i class="fa fa-6x fa-bar-chart-o"></i></span>
                         <h3>Results Driven</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, sit repudiandae perferendis cum natus. Cumque assumenda totam mollitia iusto, corporis!</p>
                     </div>
                  </div>
                  <div>
                     <div>
                          <span><i class="fa fa-6x fa-road"></i></span>
                          <h3>Proven Technology</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, sit repudiandae perferendis cum natus. Cumque assumenda totam mollitia iusto, corporis!</p>
                     </div>
                  </div>
                  <div>
                     <div>
                         <span><i class="fa fa-6x fa-flag-checkered"></i></span>
                         <h3>Winning Culture</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, sit repudiandae perferendis cum natus. Cumque assumenda totam mollitia iusto, corporis!</p>
                     </div>                      
                  </div>
                  <div>
                     <div>
                         <span><i class="fa fa-6x fa-dashboard"></i></span>
                         <h3>Top Performance</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, sit repudiandae perferendis cum natus. Cumque assumenda totam mollitia iusto, corporis!</p>
                     </div>                      
                  </div>               
               </div>
           </div>
      </div>
<!--      inventory  -->
  <div class="inventory">
      <div class="container">
         <div class="row">
              <div>
                  <h4>
                      <strong>WELCOME</strong>
                      TO YOUR WEB SITE
                  </h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ad earum ab maiores temporibus dolorem, <span>Expedita</span> tempora, illo optio at debitis explicabo nulla! Quas consequuntur, molestiae ratione neque praesentium laudantium voluptatem ipsa ea veritatis ullam qui maiores illum eveniet, quia!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. culpa ullam <span>Laborum nostrum</span>,  est iure molestias beatae dicta recusandae sed itaque eveniet tempore magnam accusamus quibusdam.</p>
              </div>
              <div>
                  <h4>
                      <strong>SEARCH</strong>
                      YOUR INVENTORY
                  </h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ad earum ab maiores temporibus dolorem, expedita tempora, illo optio at debitis explicabo nulla! Quas consequuntur, molestiae ratione neque praesentium laudantium voluptatem ipsa <span>Ea veritatis</span>ullam qui maiores illum eveniet, quia!</p>
                  <p>Lorem <span>Ipsum dolor sit</span> amet, consectetur adipisicing elit. culpa ullam Laborum nostrum, est iure molestias beatae dicta recusandae sed itaque eveniet tempore magnam accusamus quibusdam.</p>
              </div>
          </div>
      </div>
  </div>
  
</section>

<script>
        $(document).ready(function(){
            
            $(document).scroll(function(){
                let height = $(window).height();
                let top = $(window).scrollTop();
                if ($(window).scrollTop() > 30){
                    $('header > section').fadeOut(0);
                    $('header').css('position','fixed');
                    $('.logo a').css('font-size','15px');
                    $('.navUL a').css('font-size','11px');
                }else{
                    $('header > section').fadeIn(0);
                    $('header').css('position','absolute');
                    $('.logo a').css('font-size','18px');
                    $('.navUL a').css('font-size','14px');
                }
                if ($(window).scrollTop() > 100){
                    $('.upArrow').fadeIn(0); 
                }else{
                    $('.upArrow').fadeOut(0); 
                }
                if ($(window).scrollTop() > 650){
                    $('.over').find('.row > .container > div > div').css('transform' , 'translateX(0)'); 
                }
                if ($(window).scrollTop() > 926){
                    $('.inventory').find('.container > .row > div').css('transform' , 'translateY(0)'); 
                }
//                alert($(window).scrollTop());
                
            });
            
            
             //menu click
            $('.navUL li a').click(function(){
                $('.navUL li a').removeClass('active');
                $(this).addClass('active');
            });
            
            //slider
            let slider = $('.slide > ul');
            let mytimeout;
            let nextSlide = (i) =>{
                let active = slider.find('li.active');
                let hGroup = active.find('h2');
                let index = active.index();
                let next;
                if (i != -1){
                    if (index == 4){
                        next = slider.find('li:first-child');
                    }else{
                        next = active.next();
                    }
                }else{
                    if (index == 0){
                        next = slider.find('li:last-child');
                    }else{
                        next = active.prev();
                    }
                }
                
                active.css('opacity','0');
                hGroup.removeClass('active');
                active.removeClass('active');
                var hGroupNext = next.find('h2');
                next.css('opacity','1');
                next.addClass('active');
                hGroupNext.addClass('active');
                mytimeout = 0;
            };
            let x = () => {
                mytimeout = setTimeout(function() {
                    nextSlide();
                    x();
                },6000);
            };            
            let liActive = slider.find('li.active');
            liActive.find('h2').addClass('active');
            x();
            $('.leftArrow').click(function(){
               nextSlide(-1); 
            });
            $('.rightArrow').click(function(){
               nextSlide(); 
            });
            
            $('.slide').mouseover(function(){
               clearTimeout(mytimeout); 
            });
            $('.slide').mouseleave(function(){
               x();
            });
            
            
           
        });
        
        
    
</script>